<div class="media">
  <div class="media-left">
    <%= image_tag conversation.originator.avatar.url(:thumb)%>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <small><b>User: </b></small><%= conversation.originator.name %> <br>
      <small><b>Subject: </b><%= conversation.subject %></small><br>
      <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small><br>
      <small><b>Text: </b> <%= truncate conversation.messages.last.body, length: 50 %></small>
    </h4>
    <%= link_to "Read massege", conversation_path(conversation), class: "btn btn-success btn-sm"  %>
  </div>
</div>
