<h1>Update user profile</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <%= form_for @user, url: users_admin_path(@user) do |f| %>

        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
            <div style="width: 150px;">
                <%= f.label :avatar %>
                <%= image_tag @user.avatar.url(:thumb), class: "img-thumbnail rounded float-left" %>
                <%= f.file_field :avatar, label: "Choose avatar" %>

            </div>
        </div>

        <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, class: "form-control"  %>
        </div>

        <%= f.submit "Save changes", class: "btn btn-large btn-success" %>
        <%= link_to 'Back', users_admin_index_path, class:"btn btn-primary" %>
        <% end %>

    </div>
</div>
