<h1>All users</h1>

<%= link_to 'Add new user', new_users_admin_path, method: :get, class: "btn btn-success" %>

<ul class="list-group">
    <% @users.each do |user| %>
    <li class="list-group-item">
        <%= image_tag user.avatar.url(:thumb), class: "img-thumbnail" %>
        <%= user.name %>

        <div class="pull-right">
            <%= link_to "About user", users_admin_path(user.id), class: "btn btn-sm btn-info" %>
            <%= link_to "Edit profile", edit_users_admin_path(user.id), class: "btn btn-sm btn-warning"%>
            <% if !user.admin %>
            <%= link_to "Delete", users_admin_path(user.id), method: :delete,
                                 data: { confirm: "You sure?" }, class: "btn btn-sm btn-danger" %>
            <% end %>
        </div>

    </li>
    <% end %>
</ul>
