<!DOCTYPE html>
<html>
    <head>
        <title>MessengerAppTickets</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render 'layouts/nav' %>
        <%= render 'layouts/flash_messages' %>

        <div class="container">
            <%= yield %>
        </div>

        <footer class="navbar-fixed-bottom">
            <div class="container text-center">
                &copy; <%= Date.today.year %> Andrian Hretsko <a href="https://tickets.ua/"> for Tickets.ua</a>
            </div>
        </footer>
    </body>
</html>
